body {
  background-color: #FCFCFC;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  font-family: 'Merriweather', serif;
  text-align: center;
}


h1 {
  color: #ffffff;
  font-size: 50px;
  letter-spacing: 5px;
}

/* TITLE FONT */
h2 {
  font-size: 30px;
  letter-spacing: 2px;
}

h2 a:hover {
  color: 	#527571;
}

h5 {
  font-style: italic;
  font-size: 13px;
  letter-spacing: 1.5px;
  color: #b3b3b3;
  text-align: center;

  width:100%;
  border-bottom: 1px solid #f2f2f2;
  line-height:0.1em;
  margin: 45px 0 35px 0;
  
}

a {
    text-decoration: none;
}


.header {
  background-color: #16211b;
  padding: 45px;
  margin: 0;
}

.header a {
  color: #ffffff;
}

p {
  line-height: 150%;
  letter-spacing: 1px;
}

.nav li {
  overflow: hidden;
  display: inline;
  font-size: 16px;
  padding: 0 55px 0 55px;
  list-style-type: none;
}

.container-content a {
  color: #000000;
}

.nav li a {
  color: #ffffff;
}

.nav li a:hover {
  color: #83878e;
}

.nav {
  color: #ffffff;
  background-color: #253b39;
  letter-spacing: 1.5px;
  padding: 7px;
  text-align: center;
}

/* to remove hidden px */
ul {
  padding-left:0;
}


.container {
  background: black;
  display: block;
  border: solid;
  border-radius: 3px;
  border-width: 1px;
  border-color: #c2c4c6;
  background-color: #ffffff;
  margin: 55px auto 55px auto;
  padding: 45px 0 40px 0;
  width: 800px;
  max-width: 90%;
}

.container-list {
  text-align: center;
}

.container-content{
  margin: 0 100px 0 100px;
}

.title-show h2 {
  padding-bottom: 20px;
}

.email {
  color: #253b39;
}

/* HORIZONTAL LINES */

span.short {
  background:#fff;
  padding:0 10px;
}

hr.long {
  margin: 50px 0px 50px 0px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.spinner {
  margin-top: 200px;
  margin-bottom: 400px;
  text-align: center;
  color: #83878e;
}

.footer {
  text-align: center;
  margin-bottom: 120px;
}

.footer a {
  color: #83878e;
}

.footer p {
  margin-bottom: -10px;
  color: #83878e;
}

/* footter items */
.list-inline li {
  display: inline;
  list-style-type: none;
  font-size: 28px;
  padding: 0 10px 0 10px;
}

/* buttons */
.myButton {
	background-color: transparent;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	border: 1px solid #97aca9;
	display: inline-block;
	cursor: pointer;
	color: #b3b3b3;
	font-size: 15px;
  letter-spacing: 1px;
	padding: 15px 31px;
	text-decoration: none;
}

.myButton:hover {
	border: 1px solid #527571;
  color: #527571;
}

.myButton:active {
	position:relative;
	top:1px;
}

@media only screen and (max-width: 768px) {

  .nav li {  
    padding: 0 15px 0 15px;
  }

  .container {
    max-width: 95%;
  }

  .container-content {
    margin-left: 30px;
    margin-right: 30px;
  }
}